body
{
	background-color: navy;
	color:white;
	margin:auto;
	border-top: 6px solid black;
	border-bottom: 6px solid black;
}

.nav{
	background-color: gray;
	text-align: center;
	padding: 10px;
	word-spacing: 30px; 
	font-size: 25px;
}

.projectsTable{
	border: 5px;
	padding: 10px;
	background-color: gray;
	display: block;
	float:inherit;
}

h1{
	text-transform: uppercase;
	text-align: center;
}

.project_title{
	font-size: 25px;
	color: gold;
}

h2{
	text-align: center;
	color: gold;

}

.button {
    background-color: gold;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
	margin-right: auto;
    padding: 10px;
}

.button a {
    color: black;
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

img, iframe{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
float:none;
border:1px solid black;
}

a{
	text-decoration: none;
}

td{
	vertical-align: top;
	border-bottom: 3px solid white;
}

.recentPositions{
	color:gold;
}

iframe{
	background-color: white;
}

#introH, #introP{
	text-align: center;
}

#roundedImg{
	border-radius: 45%;
}